---
http_interactions:
- request:
    method: post
    uri: https://hostiorgeu.cloudconvert.com/process/UBuzA9Gqfl8TZSo5EMj0
    body:
      encoding: UTF-8
      string: input=download&outputformat=pdf&file=http%3A%2F%2Fhdwallpaperslovely.com%2Fwp-content%2Fgallery%2Froyalty-free-images-free%2Froyalty-free-stock-images-raindrops-01.jpg&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-Wh3bG5kHw+R+Ho7KOWEkQQ"
    body:
      encoding: UTF-8
      string: '{"id":"UBuzA9Gqfl8TZSo5EMj0","url":"//hostiorgeu.cloudconvert.com/process/UBuzA9Gqfl8TZSo5EMj0","percent":0,"message":"Preparing
        process","step":"input","starttime":1452048534,"expire":1452049554,"input":{},"output":{"url":"//hostiorgeu.cloudconvert.com/download/UBuzA9Gqfl8TZSo5EMj0"}}'
  recorded_at: Wed, 06 Jan 2016 02:46:47 GMT
recorded_with: VCR 3.0.1
