---
http_interactions:
- request:
    method: post
    uri: https://hostiorgjt.cloudconvert.com/process/nr0BicpZOVwjdoFAuy5x
    body:
      encoding: UTF-8
      string: input=download&outputformat=pdf&file=http%3A%2F%2Fhdwallpaperslovely.com%2Fwp-content%2Fgallery%2Froyalty-free-images-free%2Froyalty-free-stock-images-raindrops-01.jpg&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-kn4rSlQaLBzj37Aas9Z02Q"
    body:
      encoding: UTF-8
      string: '{"id":"nr0BicpZOVwjdoFAuy5x","url":"//hostiorgjt.cloudconvert.com/process/nr0BicpZOVwjdoFAuy5x","percent":0,"message":"Preparing
        process","step":"input","starttime":1452048454,"expire":1452049534,"input":{},"output":{"url":"//hostiorgjt.cloudconvert.com/download/nr0BicpZOVwjdoFAuy5x"}}'
  recorded_at: Wed, 06 Jan 2016 02:46:44 GMT
recorded_with: VCR 3.0.1
