---
http_interactions:
- request:
    method: post
    uri: https://hostm5vajg.cloudconvert.com/process/L2Yw8PzKi637o4AxVQcS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-v5ijTm2MCnz3uXuLWMq/BA"
    body:
      encoding: UTF-8
      string: '{"id":"L2Yw8PzKi637o4AxVQcS","url":"//hostm5vajg.cloudconvert.com/process/L2Yw8PzKi637o4AxVQcS","percent":0,"message":"Preparing
        process","step":"input","starttime":1452478531,"expire":1452480031,"input":{},"output":{"url":"//hostm5vajg.cloudconvert.com/download/L2Yw8PzKi637o4AxVQcS"}}'
  recorded_at: Mon, 11 Jan 2016 02:14:34 GMT
recorded_with: VCR 3.0.1
