---
http_interactions:
- request:
    method: post
    uri: https://hostiorgtk.cloudconvert.com/process/zTG5KEYApZJirdVLO6t0
    body:
      encoding: UTF-8
      string: input=download&outputformat=pdf&file=http%3A%2F%2Fhdwallpaperslovely.com%2Fwp-content%2Fgallery%2Froyalty-free-images-free%2Froyalty-free-stock-images-raindrops-01.jpg&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-VutwpDPD+uOwwvYy1+kfgQ"
    body:
      encoding: UTF-8
      string: '{"id":"zTG5KEYApZJirdVLO6t0","url":"//hostiorgtk.cloudconvert.com/process/zTG5KEYApZJirdVLO6t0","percent":0,"message":"Preparing
        process","step":"input","starttime":1452478476,"expire":1452479916,"input":{},"output":{"url":"//hostiorgtk.cloudconvert.com/download/zTG5KEYApZJirdVLO6t0"}}'
  recorded_at: Mon, 11 Jan 2016 02:14:37 GMT
recorded_with: VCR 3.0.1
