---
http_interactions:
- request:
    method: post
    uri: https://hostiorg3y.cloudconvert.com/process/npCk5GbhgVDTBSLytYQF
    body:
      encoding: UTF-8
      string: input=download&outputformat=pdf&file=http%3A%2F%2Fhdwallpaperslovely.com%2Fwp-content%2Fgallery%2Froyalty-free-images-free%2Froyalty-free-stock-images-raindrops-01.jpg&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-X64f2FZ5FWzIJJ9Ofi/l9A"
    body:
      encoding: UTF-8
      string: '{"id":"npCk5GbhgVDTBSLytYQF","url":"//hostiorg3y.cloudconvert.com/process/npCk5GbhgVDTBSLytYQF","percent":0,"message":"Preparing
        process","step":"input","starttime":1452478790,"expire":1452480110,"input":{},"output":{"url":"//hostiorg3y.cloudconvert.com/download/npCk5GbhgVDTBSLytYQF"}}'
  recorded_at: Mon, 11 Jan 2016 02:20:52 GMT
recorded_with: VCR 3.0.1
