---
http_interactions:
- request:
    method: post
    uri: https://hostq3v83u.cloudconvert.com/process/TwJpvfboS3OEF80kZqUc
    body:
      encoding: UTF-8
      string: input=mp4&file=blah&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-DN2Ft7dO3A02r626UnztVw"
    body:
      encoding: UTF-8
      string: '{"id":"TwJpvfboS3OEF80kZqUc","url":"//hostq3v83u.cloudconvert.com/process/TwJpvfboS3OEF80kZqUc","percent":0,"message":"Preparing
        process","step":"input","starttime":1452048368,"expire":1452049448,"input":{},"output":{"url":"//hostq3v83u.cloudconvert.com/download/TwJpvfboS3OEF80kZqUc"}}'
  recorded_at: Wed, 06 Jan 2016 02:46:45 GMT
recorded_with: VCR 3.0.1
