---
http_interactions:
- request:
    method: post
    uri: https://hostq3viy4.cloudconvert.com/process/VFLM8DhJ09aClgpbn3YU
    body:
      encoding: UTF-8
      string: input=download&outputformat=html&file=http%3A%2F%2Fwww.digilife.be%2Fquickreferences%2Fqrc%2Fruby%2520language%2520quickref.pdf&download=false&save=true&converteroptions[embed_css]=false&converteroptions[embed_javascript]=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a-sAka8qfqe1+/yntP6gNh6A"
    body:
      encoding: UTF-8
      string: '{"id":"VFLM8DhJ09aClgpbn3YU","url":"//hostq3viy4.cloudconvert.com/process/VFLM8DhJ09aClgpbn3YU","percent":0,"message":"Preparing
        process","step":"input","starttime":1452478505,"expire":1452479945,"input":{},"output":{"url":"//hostq3viy4.cloudconvert.com/download/VFLM8DhJ09aClgpbn3YU","save":true}}'
  recorded_at: Mon, 11 Jan 2016 02:14:39 GMT
recorded_with: VCR 3.0.1
