---
http_interactions:
- request:
    method: post
    uri: https://hostiorgeu.cloudconvert.com/process/lxT4OE0vVjQkWq1po9Jn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-eHyx80SZpb5tY159VM2i0Q"
    body:
      encoding: UTF-8
      string: '{"id":"lxT4OE0vVjQkWq1po9Jn","url":"//hostiorgeu.cloudconvert.com/process/lxT4OE0vVjQkWq1po9Jn","percent":0,"message":"Preparing
        process","step":"input","starttime":1453529027,"expire":1453530527,"input":{},"output":{"url":"//hostiorgeu.cloudconvert.com/download/lxT4OE0vVjQkWq1po9Jn"}}'
  recorded_at: Sat, 23 Jan 2016 06:01:14 GMT
recorded_with: VCR 3.0.1
