---
http_interactions:
- request:
    method: post
    uri: https://hostm5vajg.cloudconvert.com/process/3XTGIBEPZgrFLDUulR2A
    body:
      encoding: UTF-8
      string: input=mp4&file=blah&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-bellcvAmXLZWPYfde8WCRg"
    body:
      encoding: UTF-8
      string: '{"id":"3XTGIBEPZgrFLDUulR2A","url":"//hostm5vajg.cloudconvert.com/process/3XTGIBEPZgrFLDUulR2A","percent":0,"message":"Preparing
        process","step":"input","starttime":1453528954,"expire":1453530394,"input":{},"output":{"url":"//hostm5vajg.cloudconvert.com/download/3XTGIBEPZgrFLDUulR2A"}}'
  recorded_at: Sat, 23 Jan 2016 06:01:20 GMT
recorded_with: VCR 3.0.1
