---
http_interactions:
- request:
    method: post
    uri: https://hostq3v83u.cloudconvert.com/process/lqRfa7jt3dLYQW5gN6rz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-GAUkp8xzEC4L1KXilhcFcA"
    body:
      encoding: UTF-8
      string: '{"id":"lqRfa7jt3dLYQW5gN6rz","url":"//hostq3v83u.cloudconvert.com/process/lqRfa7jt3dLYQW5gN6rz","percent":0,"message":"Preparing
        process","step":"input","starttime":1452048372,"expire":1452049392,"input":{},"output":{"url":"//hostq3v83u.cloudconvert.com/download/lqRfa7jt3dLYQW5gN6rz"}}'
  recorded_at: Wed, 06 Jan 2016 02:46:50 GMT
recorded_with: VCR 3.0.1
