---
http_interactions:
- request:
    method: post
    uri: https://hostq3v83u.cloudconvert.com/process/tEC4fXLqA5HRdoh1Iw30
    body:
      encoding: UTF-8
      string: input=download&outputformat=pdf&file=http%3A%2F%2Fhdwallpaperslovely.com%2Fwp-content%2Fgallery%2Froyalty-free-images-free%2Froyalty-free-stock-images-raindrops-01.jpg&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-t2pAqmlbTwtFOzEf4ipP1A"
    body:
      encoding: UTF-8
      string: '{"id":"tEC4fXLqA5HRdoh1Iw30","url":"//hostq3v83u.cloudconvert.com/process/tEC4fXLqA5HRdoh1Iw30","percent":0,"message":"Preparing
        process","step":"input","starttime":1451904409,"expire":1451905849,"input":{},"output":{"url":"//hostq3v83u.cloudconvert.com/download/tEC4fXLqA5HRdoh1Iw30"}}'
  recorded_at: Mon, 04 Jan 2016 10:47:26 GMT
recorded_with: VCR 3.0.1
