---
http_interactions:
- request:
    method: post
    uri: https://hostm5vajg.cloudconvert.com/process/s5rqFGx6iSdTWDhXb2zJ
    body:
      encoding: UTF-8
      string: input=download&outputformat=html&file=http%3A%2F%2Fwww.digilife.be%2Fquickreferences%2Fqrc%2Fruby%2520language%2520quickref.pdf&download=false&save=true&converteroptions[embed_css]=false&converteroptions[embed_javascript]=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a-hyKKwImZDEiuPEEKE0rYGg"
    body:
      encoding: UTF-8
      string: '{"id":"s5rqFGx6iSdTWDhXb2zJ","url":"//hostm5vajg.cloudconvert.com/process/s5rqFGx6iSdTWDhXb2zJ","percent":0,"message":"Preparing
        process","step":"input","starttime":1453528958,"expire":1453530398,"input":{},"output":{"url":"//hostm5vajg.cloudconvert.com/download/s5rqFGx6iSdTWDhXb2zJ","save":true}}'
  recorded_at: Sat, 23 Jan 2016 06:01:24 GMT
recorded_with: VCR 3.0.1
