---
http_interactions:
- request:
    method: post
    uri: https://hostm5vajg.cloudconvert.com/process/AzGXWnV1MNf0y4TJvwke
    body:
      encoding: UTF-8
      string: input=download&outputformat=pdf&file=http%3A%2F%2Fhdwallpaperslovely.com%2Fwp-content%2Fgallery%2Froyalty-free-images-free%2Froyalty-free-stock-images-raindrops-01.jpg&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-+mV9oLbaePBGSV0mPR5UWA"
    body:
      encoding: UTF-8
      string: '{"id":"AzGXWnV1MNf0y4TJvwke","url":"//hostm5vajg.cloudconvert.com/process/AzGXWnV1MNf0y4TJvwke","percent":0,"message":"Preparing
        process","step":"input","starttime":1453528955,"expire":1453530395,"input":{},"output":{"url":"//hostm5vajg.cloudconvert.com/download/AzGXWnV1MNf0y4TJvwke"}}'
  recorded_at: Sat, 23 Jan 2016 06:01:21 GMT
recorded_with: VCR 3.0.1
