---
http_interactions:
- request:
    method: post
    uri: https://hostiorgeu.cloudconvert.com/process/nx6iQLqbvts3XPOjydzZ
    body:
      encoding: UTF-8
      string: input=download&outputformat=html&file=http%3A%2F%2Fwww.digilife.be%2Fquickreferences%2Fqrc%2Fruby%2520language%2520quickref.pdf&download=false&save=true&converteroptions[embed_css]=false&converteroptions[embed_javascript]=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a-pJVhPsOzJTjPP8mQTnLpXg"
    body:
      encoding: UTF-8
      string: '{"id":"nx6iQLqbvts3XPOjydzZ","url":"//hostiorgeu.cloudconvert.com/process/nx6iQLqbvts3XPOjydzZ","percent":0,"message":"Preparing
        process","step":"input","starttime":1451975202,"expire":1451976522,"input":{},"output":{"url":"//hostiorgeu.cloudconvert.com/download/nx6iQLqbvts3XPOjydzZ","save":true}}'
  recorded_at: Tue, 05 Jan 2016 06:24:37 GMT
recorded_with: VCR 3.0.1
