---
http_interactions:
- request:
    method: post
    uri: https://hostiorgeu.cloudconvert.com/process/vnp5GeZF1kMCrPN6ihug
    body:
      encoding: UTF-8
      string: input=mp4&file=blah&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-QkmndvHwV00gGL+nE21fPg"
    body:
      encoding: UTF-8
      string: '{"id":"vnp5GeZF1kMCrPN6ihug","url":"//hostiorgeu.cloudconvert.com/process/vnp5GeZF1kMCrPN6ihug","percent":0,"message":"Preparing
        process","step":"input","starttime":1452478606,"expire":1452480106,"input":{},"output":{"url":"//hostiorgeu.cloudconvert.com/download/vnp5GeZF1kMCrPN6ihug"}}'
  recorded_at: Mon, 11 Jan 2016 02:14:32 GMT
recorded_with: VCR 3.0.1
