---
http_interactions:
- request:
    method: post
    uri: https://hostm5vajg.cloudconvert.com/process/OgIXYEJUKp1es6Gnr2ya
    body:
      encoding: UTF-8
      string: input=download&outputformat=html&file=http%3A%2F%2Fwww.digilife.be%2Fquickreferences%2Fqrc%2Fruby%2520language%2520quickref.pdf&download=false&save=true&converteroptions[embed_css]=false&converteroptions[embed_javascript]=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a-lOuYyN0RKtjN5gNE5mBqMA"
    body:
      encoding: UTF-8
      string: '{"id":"OgIXYEJUKp1es6Gnr2ya","url":"//hostm5vajg.cloudconvert.com/process/OgIXYEJUKp1es6Gnr2ya","percent":0,"message":"Preparing
        process","step":"input","starttime":1452048464,"expire":1452049364,"input":{},"output":{"url":"//hostm5vajg.cloudconvert.com/download/OgIXYEJUKp1es6Gnr2ya","save":true}}'
  recorded_at: Wed, 06 Jan 2016 02:46:55 GMT
recorded_with: VCR 3.0.1
