---
http_interactions:
- request:
    method: post
    uri: https://api.cloudconvert.com/process
    body:
      encoding: UTF-8
      string: apikey=7mWZZkBjRqGN224WzW4P6sXha8ic7I37CRufh5DlY04ZPxlkgn8Cw1xXAliS0QGZg80kwZWe-A6P5r8ZNmlVKg&inputformat=jpg&outputformat=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '{"url":"\/\/hostiorgjt.cloudconvert.com\/process\/DHqvCa2ITG4w87si0jlf","id":"DHqvCa2ITG4w87si0jlf","host":"hostiorgjt.cloudconvert.com","expires":"2016-01-05
        15:31:02","maxsize":1024,"maxtime":1500,"concurrent":5,"minutes":25}'
  recorded_at: Tue, 05 Jan 2016 02:31:02 GMT
recorded_with: VCR 3.0.1
