---
http_interactions:
- request:
    method: post
    uri: https://api.cloudconvert.com/process
    body:
      encoding: UTF-8
      string: apikey=7mWZZkBjRqGN224WzW4P6sXha8ic7I37CRufh5DlY04ZPxlkgn8Cw1xXAliS0QGZg80kwZWe-A6P5r8ZNmlVKg&inputformat=jpg&outputformat=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '{"url":"\/\/hostiorgeu.cloudconvert.com\/process\/UBuzA9Gqfl8TZSo5EMj0","id":"UBuzA9Gqfl8TZSo5EMj0","host":"hostiorgeu.cloudconvert.com","expires":"2016-01-06
        15:46:46","maxsize":1024,"maxtime":1020,"concurrent":5,"minutes":17}'
  recorded_at: Wed, 06 Jan 2016 02:46:46 GMT
recorded_with: VCR 3.0.1
