---
http_interactions:
- request:
    method: post
    uri: https://api.cloudconvert.com/process
    body:
      encoding: UTF-8
      string: apikey=7mWZZkBjRqGN224WzW4P6sXha8ic7I37CRufh5DlY04ZPxlkgn8Cw1xXAliS0QGZg80kwZWe-A6P5r8ZNmlVKg&inputformat=pdf&outputformat=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '{"url":"\/\/hostiorgeu.cloudconvert.com\/process\/nx6iQLqbvts3XPOjydzZ","id":"nx6iQLqbvts3XPOjydzZ","host":"hostiorgeu.cloudconvert.com","expires":"2016-01-05
        19:24:36","maxsize":1024,"maxtime":1320,"concurrent":5,"minutes":22}'
  recorded_at: Tue, 05 Jan 2016 06:24:36 GMT
recorded_with: VCR 3.0.1
