---
http_interactions:
- request:
    method: post
    uri: https://api.cloudconvert.com/process
    body:
      encoding: UTF-8
      string: apikey=C54KhRYee6KIQAP2zdEZRwVZAdn1kVnLvp5ZIweU8s17pmHjCHTQxmZ4JZg3L_7zlU3YpMWhyGyaKTJ5lZ84AQ&inputformat=jpg&outputformat=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '{"url":"\/\/hostm5vajg.cloudconvert.com\/process\/L2Yw8PzKi637o4AxVQcS","id":"L2Yw8PzKi637o4AxVQcS","host":"hostm5vajg.cloudconvert.com","expires":"2016-01-11
        15:14:33","maxsize":1024,"maxtime":1500,"concurrent":5,"minutes":25}'
  recorded_at: Mon, 11 Jan 2016 02:14:33 GMT
recorded_with: VCR 3.0.1
