---
http_interactions:
- request:
    method: get
    uri: https://api.cloudconvert.com/processes?apikey=C54KhRYee6KIQAP2zdEZRwVZAdn1kVnLvp5ZIweU8s17pmHjCHTQxmZ4JZg3L_7zlU3YpMWhyGyaKTJ5lZ84AQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '[{"id":"vnp5GeZF1kMCrPN6ihug","host":"hostiorgeu.cloudconvert.com","step":"error","starttime":"2016-01-11
        03:14:31","endtime":"2016-01-11 03:14:32","url":"\/\/hostiorgeu.cloudconvert.com\/process\/vnp5GeZF1kMCrPN6ihug"},{"id":"L2Yw8PzKi637o4AxVQcS","host":"hostm5vajg.cloudconvert.com","step":"finished","starttime":"2016-01-11
        03:14:33","endtime":"2016-01-11 03:14:35","url":"\/\/hostm5vajg.cloudconvert.com\/process\/L2Yw8PzKi637o4AxVQcS"},{"id":"VFLM8DhJ09aClgpbn3YU","host":"hostq3viy4.cloudconvert.com","step":"finished","starttime":"2016-01-11
        03:14:38","endtime":"2016-01-11 03:14:44","url":"\/\/hostq3viy4.cloudconvert.com\/process\/VFLM8DhJ09aClgpbn3YU"},{"id":"npCk5GbhgVDTBSLytYQF","host":"hostiorg3y.cloudconvert.com","step":"running","starttime":"2016-01-11
        03:20:52","endtime":"0000-00-00 00:00:00","url":"\/\/hostiorg3y.cloudconvert.com\/process\/npCk5GbhgVDTBSLytYQF"}]'
  recorded_at: Mon, 11 Jan 2016 02:20:53 GMT
recorded_with: VCR 3.0.1
