---
http_interactions:
- request:
    method: get
    uri: https://api.cloudconvert.com/processes?apikey=7mWZZkBjRqGN224WzW4P6sXha8ic7I37CRufh5DlY04ZPxlkgn8Cw1xXAliS0QGZg80kwZWe-A6P5r8ZNmlVKg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '[{"id":"Jqc4nCMwTPLFSx6Ko1tX","host":"hostiorgeu.cloudconvert.com","step":"finished","starttime":"2016-01-06
        02:42:06","endtime":"2016-01-06 02:42:08","url":"\/\/hostiorgeu.cloudconvert.com\/process\/Jqc4nCMwTPLFSx6Ko1tX"},{"id":"q6vQmDKx7IlVOJR4F0sc","host":"hostiorgeu.cloudconvert.com","step":"finished","starttime":"2016-01-06
        02:45:11","endtime":"2016-01-06 02:45:13","url":"\/\/hostiorgeu.cloudconvert.com\/process\/q6vQmDKx7IlVOJR4F0sc"},{"id":"sSUlVFKT80PMnJBZHj1z","host":"hostiorgeu.cloudconvert.com","step":"finished","starttime":"2016-01-06
        02:50:13","endtime":"2016-01-06 02:50:17","url":"\/\/hostiorgeu.cloudconvert.com\/proces[...]
