---
http_interactions:
- request:
    method: get
    uri: https://api.cloudconvert.com/processes?apikey=7mWZZkBjRqGN224WzW4P6sXha8ic7I37CRufh5DlY04ZPxlkgn8Cw1xXAliS0QGZg80kwZWe-A6P5r8ZNmlVKg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '[{"id":"tEC4fXLqA5HRdoh1Iw30","host":"hostq3v83u.cloudconvert.com","step":"running","starttime":"2016-01-04
        11:47:25","endtime":"0000-00-00 00:00:00","url":"\/\/hostq3v83u.cloudconvert.com\/process\/tEC4fXLqA5HRdoh1Iw30"}]'
  recorded_at: Mon, 04 Jan 2016 10:47:27 GMT
recorded_with: VCR 3.0.1
