---
http_interactions:
- request:
    method: get
    uri: https://hostiorgjt.cloudconvert.com/process/nr0BicpZOVwjdoFAuy5x
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a3-l4wCp9n619VlkXmJFg0gig"
    body:
      encoding: UTF-8
      string: '{"id":"nr0BicpZOVwjdoFAuy5x","url":"//hostiorgjt.cloudconvert.com/process/nr0BicpZOVwjdoFAuy5x","percent":0,"message":"Preparing
        process","step":"input","starttime":1452048454,"expire":1452049534,"input":{"type":"download","filename":"royalty-free-stock-images-raindrops-01.jpg","name":"royalty-free-stock-images-raindrops-01","ext":"jpg"},"output":{"url":"//hostiorgjt.cloudconvert.com/download/nr0BicpZOVwjdoFAuy5x"}}'
  recorded_at: Wed, 06 Jan 2016 02:46:44 GMT
recorded_with: VCR 3.0.1
