---
http_interactions:
- request:
    method: get
    uri: https://hostq3viy4.cloudconvert.com/process/VFLM8DhJ09aClgpbn3YU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29c-ctUPUi+Z+JRfNvwuT5+KHw"
    body:
      encoding: UTF-8
      string: '{"id":"VFLM8DhJ09aClgpbn3YU","url":"//hostq3viy4.cloudconvert.com/process/VFLM8DhJ09aClgpbn3YU","percent":0,"message":"Converting
        file to html","step":"convert","starttime":1452478505,"expire":1452479945,"input":{"type":"download","filename":"ruby
        language quickref.pdf","name":"ruby language quickref","ext":"pdf","size":17547,"url":"//hostq3viy4.cloudconvert.com/download/VFLM8DhJ09aClgpbn3YU/input"},"output":{"url":"//hostq3viy4.cloudconvert.com/download/VFLM8DhJ09aClgpbn3YU","save":true},"converter":{"format":"html","type":"pdf2htmlex","options":{"zoom":"1.5","embed_css":false,"embed_font":true,"embed_javascript":false,"embed_image":true}},"group":"document"}'
  recorded_at: Mon, 11 Jan 2016 02:14:40 GMT
recorded_with: VCR 3.0.1
