---
http_interactions:
- request:
    method: get
    uri: https://hostq3v83u.cloudconvert.com/process/TwJpvfboS3OEF80kZqUc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12d-HDPy+mVt2bPaItjo/nIDWg"
    body:
      encoding: UTF-8
      string: '{"id":"TwJpvfboS3OEF80kZqUc","url":"//hostq3v83u.cloudconvert.com/process/TwJpvfboS3OEF80kZqUc","percent":0,"message":"Error:
        Cannot find module ''../input/mp4.js''","step":"error","starttime":1452048368,"expire":1452050168,"input":{"type":"mp4"},"output":{},"endtime":1452048368,"minutes":0,"code":400}'
  recorded_at: Wed, 06 Jan 2016 02:46:46 GMT
recorded_with: VCR 3.0.1
