---
http_interactions:
- request:
    method: get
    uri: https://hostiorgeu.cloudconvert.com/process/nx6iQLqbvts3XPOjydzZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38f-s0SkL+QjPMlt8enVZL5EFA"
    body:
      encoding: UTF-8
      string: '{"id":"nx6iQLqbvts3XPOjydzZ","url":"//hostiorgeu.cloudconvert.com/process/nx6iQLqbvts3XPOjydzZ","percent":100,"message":"Conversion
        finished!","step":"finished","starttime":1451975202,"expire":1452018406,"input":{"type":"download","filename":"ruby
        language quickref.pdf","name":"ruby language quickref","ext":"pdf","size":17547,"url":"//hostiorgeu.cloudconvert.com/download/nx6iQLqbvts3XPOjydzZ/input"},"output":{"url":"//hostiorgeu.cloudconvert.com/download/nx6iQLqbvts3XPOjydzZ","save":true,"files":["base.min.css","compatibility.js","fancy.min.css","pdf2htmlEX.min.js","ruby
        language quickref.css","ruby language quickref.html"],"ext":"zip","filename":"ruby
        language quickref.zip"},"converter":{"format":"html","type":"pdf2htmlex","options":{"zoom":"1.5","embed_css":false,"embed_font":true,"embed_javascript":false,"embed_image":true},"packformat":"zip"},"group":"document","endtime":1451975206,"minutes":1}'
  recorded_at: Tue, 05 Jan 2016 06:47:37 GMT
recorded_with: VCR 3.0.1
