---
http_interactions:
- request:
    method: get
    uri: https://hostm5vajg.cloudconvert.com/process/AzGXWnV1MNf0y4TJvwke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a3-u8V+VwwkWYEH0vRbtquazg"
    body:
      encoding: UTF-8
      string: '{"id":"AzGXWnV1MNf0y4TJvwke","url":"//hostm5vajg.cloudconvert.com/process/AzGXWnV1MNf0y4TJvwke","percent":0,"message":"Preparing
        process","step":"input","starttime":1453528955,"expire":1453530395,"input":{"type":"download","filename":"royalty-free-stock-images-raindrops-01.jpg","name":"royalty-free-stock-images-raindrops-01","ext":"jpg"},"output":{"url":"//hostm5vajg.cloudconvert.com/download/AzGXWnV1MNf0y4TJvwke"}}'
  recorded_at: Sat, 23 Jan 2016 06:01:22 GMT
recorded_with: VCR 3.0.1
