---
http_interactions:
- request:
    method: get
    uri: https://hostm5vajg.cloudconvert.com/process/s5rqFGx6iSdTWDhXb2zJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29c-l0VxIZytjWC1x9fkBzB2Cg"
    body:
      encoding: UTF-8
      string: '{"id":"s5rqFGx6iSdTWDhXb2zJ","url":"//hostm5vajg.cloudconvert.com/process/s5rqFGx6iSdTWDhXb2zJ","percent":0,"message":"Converting
        file to html","step":"convert","starttime":1453528958,"expire":1453530398,"input":{"type":"download","filename":"ruby
        language quickref.pdf","name":"ruby language quickref","ext":"pdf","size":17547,"url":"//hostm5vajg.cloudconvert.com/download/s5rqFGx6iSdTWDhXb2zJ/input"},"output":{"url":"//hostm5vajg.cloudconvert.com/download/s5rqFGx6iSdTWDhXb2zJ","save":true},"converter":{"format":"html","type":"pdf2htmlex","options":{"zoom":"1.5","embed_css":false,"embed_font":true,"embed_javascript":false,"embed_image":true}},"group":"document"}'
  recorded_at: Sat, 23 Jan 2016 06:01:24 GMT
recorded_with: VCR 3.0.1
