---
http_interactions:
- request:
    method: get
    uri: https://hostiorgtk.cloudconvert.com/process/zTG5KEYApZJirdVLO6t0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a3-rwiGj/JanZH0ZV6LKDFb4A"
    body:
      encoding: UTF-8
      string: '{"id":"zTG5KEYApZJirdVLO6t0","url":"//hostiorgtk.cloudconvert.com/process/zTG5KEYApZJirdVLO6t0","percent":0,"message":"Preparing
        process","step":"input","starttime":1452478476,"expire":1452479916,"input":{"type":"download","filename":"royalty-free-stock-images-raindrops-01.jpg","name":"royalty-free-stock-images-raindrops-01","ext":"jpg"},"output":{"url":"//hostiorgtk.cloudconvert.com/download/zTG5KEYApZJirdVLO6t0"}}'
  recorded_at: Mon, 11 Jan 2016 02:14:37 GMT
recorded_with: VCR 3.0.1
