---
http_interactions:
- request:
    method: get
    uri: https://hostiorgeu.cloudconvert.com/process/vnp5GeZF1kMCrPN6ihug
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12d-DruNqHyFBTDmMeonIkW+3Q"
    body:
      encoding: UTF-8
      string: '{"id":"vnp5GeZF1kMCrPN6ihug","url":"//hostiorgeu.cloudconvert.com/process/vnp5GeZF1kMCrPN6ihug","percent":0,"message":"Error:
        Cannot find module ''../input/mp4.js''","step":"error","starttime":1452478606,"expire":1452480406,"input":{"type":"mp4"},"output":{},"endtime":1452478606,"minutes":0,"code":400}'
  recorded_at: Mon, 11 Jan 2016 02:14:32 GMT
recorded_with: VCR 3.0.1
