---
http_interactions:
- request:
    method: post
    uri: https://hostq3v83u.cloudconvert.com/process/lw8umORYkZsJ2QAW1era
    body:
      encoding: UTF-8
      string: input=mp4&file=blah&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-yaG+dtjcF+r1zTXXKcBP3A"
    body:
      encoding: UTF-8
      string: '{"id":"lw8umORYkZsJ2QAW1era","url":"//hostq3v83u.cloudconvert.com/process/lw8umORYkZsJ2QAW1era","percent":0,"message":"Preparing
        process","step":"input","starttime":1451893214,"expire":1451894714,"input":{},"output":{"url":"//hostq3v83u.cloudconvert.com/download/lw8umORYkZsJ2QAW1era"}}'
  recorded_at: Mon, 04 Jan 2016 07:40:51 GMT
recorded_with: VCR 3.0.1
