---
http_interactions:
- request:
    method: post
    uri: https://hostiorgeu.cloudconvert.com/process/q6vQmDKx7IlVOJR4F0sc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-LM9WKHqAn0BmuGNOSU0krw"
    body:
      encoding: UTF-8
      string: '{"id":"q6vQmDKx7IlVOJR4F0sc","url":"//hostiorgeu.cloudconvert.com/process/q6vQmDKx7IlVOJR4F0sc","percent":0,"message":"Preparing
        process","step":"input","starttime":1452044839,"expire":1452046279,"input":{},"output":{"url":"//hostiorgeu.cloudconvert.com/download/q6vQmDKx7IlVOJR4F0sc"}}'
  recorded_at: Wed, 06 Jan 2016 01:45:13 GMT
recorded_with: VCR 3.0.1
