---
http_interactions:
- request:
    method: post
    uri: https://hostiorgjt.cloudconvert.com/process/kTb1w2vjWARFQKXrnYSu
    body:
      encoding: UTF-8
      string: input=download&outputformat=pdf&file=http%3A%2F%2Fhdwallpaperslovely.com%2Fwp-content%2Fgallery%2Froyalty-free-images-free%2Froyalty-free-stock-images-raindrops-01.jpg&download=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11e-GRnRtHe3WqWeaJCU1SKIGg"
    body:
      encoding: UTF-8
      string: '{"id":"kTb1w2vjWARFQKXrnYSu","url":"//hostiorgjt.cloudconvert.com/process/kTb1w2vjWARFQKXrnYSu","percent":0,"message":"Preparing
        process","step":"input","starttime":1451896035,"expire":1451897535,"input":{},"output":{"url":"//hostiorgjt.cloudconvert.com/download/kTb1w2vjWARFQKXrnYSu"}}'
  recorded_at: Mon, 04 Jan 2016 08:26:26 GMT
recorded_with: VCR 3.0.1
