---
http_interactions:
- request:
    method: post
    uri: https://hostiorgeu.cloudconvert.com/process/sSUlVFKT80PMnJBZHj1z
    body:
      encoding: UTF-8
      string: input=download&outputformat=html&file=http%3A%2F%2Fwww.digilife.be%2Fquickreferences%2Fqrc%2Fruby%2520language%2520quickref.pdf&download=false&save=true&converteroptions[embed_css]=false&converteroptions[embed_javascript]=false
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12a-UyJCodxLQ+AyjeFt22NipA"
    body:
      encoding: UTF-8
      string: '{"id":"sSUlVFKT80PMnJBZHj1z","url":"//hostiorgeu.cloudconvert.com/process/sSUlVFKT80PMnJBZHj1z","percent":0,"message":"Preparing
        process","step":"input","starttime":1452045140,"expire":1452046520,"input":{},"output":{"url":"//hostiorgeu.cloudconvert.com/download/sSUlVFKT80PMnJBZHj1z","save":true}}'
  recorded_at: Wed, 06 Jan 2016 01:50:14 GMT
recorded_with: VCR 3.0.1
