---
http_interactions:
- request:
    method: post
    uri: https://api.cloudconvert.com/process
    body:
      encoding: UTF-8
      string: apikey=7mWZZkBjRqGN224WzW4P6sXha8ic7I37CRufh5DlY04ZPxlkgn8Cw1xXAliS0QGZg80kwZWe-A6P5r8ZNmlVKg&inputformat=jpg&outputformat=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '{"url":"\/\/hostq3v83u.cloudconvert.com\/process\/tEC4fXLqA5HRdoh1Iw30","id":"tEC4fXLqA5HRdoh1Iw30","host":"hostq3v83u.cloudconvert.com","expires":"2016-01-04
        23:47:25","maxsize":1024,"maxtime":1440,"concurrent":5,"minutes":24}'
  recorded_at: Mon, 04 Jan 2016 10:47:25 GMT
recorded_with: VCR 3.0.1
