---
http_interactions:
- request:
    method: post
    uri: https://api.cloudconvert.com/process
    body:
      encoding: UTF-8
      string: apikey=7mWZZkBjRqGN224WzW4P6sXha8ic7I37CRufh5DlY04ZPxlkgn8Cw1xXAliS0QGZg80kwZWe-A6P5r8ZNmlVKg&inputformat=pdf&outputformat=
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloudconvert-Host:
      - srv07
    body:
      encoding: UTF-8
      string: '{"url":"\/\/hostiorgeu.cloudconvert.com\/process\/sSUlVFKT80PMnJBZHj1z","id":"sSUlVFKT80PMnJBZHj1z","host":"hostiorgeu.cloudconvert.com","expires":"2016-01-06
        14:50:13","maxsize":1024,"maxtime":1380,"concurrent":5,"minutes":23}'
  recorded_at: Wed, 06 Jan 2016 01:50:13 GMT
recorded_with: VCR 3.0.1
