---
http_interactions:
- request:
    method: get
    uri: https://hostq3v83u.cloudconvert.com/download/lw8umORYkZsJ2QAW1era
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12d-Fj4ZOeXTIm1aJKaOvE5/HQ"
    body:
      encoding: UTF-8
      string: '{"id":"lw8umORYkZsJ2QAW1era","url":"//hostq3v83u.cloudconvert.com/process/lw8umORYkZsJ2QAW1era","percent":0,"message":"Error:
        Cannot find module ''../input/mp4.js''","step":"error","starttime":1451893214,"expire":1451895014,"input":{"type":"mp4"},"output":{},"endtime":1451893214,"minutes":0,"code":400}'
  recorded_at: Mon, 04 Jan 2016 07:40:52 GMT
recorded_with: VCR 3.0.1
