---
http_interactions:
- request:
    method: get
    uri: https://hostiorgeu.cloudconvert.com/process/sSUlVFKT80PMnJBZHj1z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"38f-nHRSnFkZKAcbtl7rA2b/BA"
    body:
      encoding: UTF-8
      string: '{"id":"sSUlVFKT80PMnJBZHj1z","url":"//hostiorgeu.cloudconvert.com/process/sSUlVFKT80PMnJBZHj1z","percent":100,"message":"Conversion
        finished!","step":"finished","starttime":1452045140,"expire":1452088343,"input":{"type":"download","filename":"ruby
        language quickref.pdf","name":"ruby language quickref","ext":"pdf","size":17547,"url":"//hostiorgeu.cloudconvert.com/download/sSUlVFKT80PMnJBZHj1z/input"},"output":{"url":"//hostiorgeu.cloudconvert.com/download/sSUlVFKT80PMnJBZHj1z","save":true,"files":["base.min.css","compatibility.js","fancy.min.css","pdf2htmlEX.min.js","ruby
        language quickref.css","ruby language quickref.html"],"ext":"zip","filename":"ruby
        language quickref.zip"},"converter":{"format":"html","type":"pdf2htmlex","options":{"zoom":"1.5","embed_css":false,"embed_font":true,"embed_javascript":false,"embed_image":true},"packformat":"zip"},"group":"document","endtime":1452045143,"minutes":1}'
  recorded_at: Wed, 06 Jan 2016 01:52:36 GMT
recorded_with: VCR 3.0.1
